        <!--Content-->
            <div class="container d-flex justify-content-end mt-3">
                <button class="btn btn-success"><a href="#!Them-san-pham" style="text-decoration: none; color: #fff;">Tạo mới</a></button>
            </div>
            <div class="container mt-5">
                <H3 class="text-center fw-bold pb-2"> Danh sách sản phẩm</H3>
                <table class="table table-striped">
                    <thead>
                        <td style="width: 20%; text-align: center; ">Tên sản phẩm</td>
                        <td style="width: 15%; text-align: center">Ảnh sản phẩm</td>
                        <td style="width: 15%; text-align: center">Loại sản phẩm</td>
                        <td style=" text-align: center;">Gía</td>
                        <td style=" width: 10%; text-align: center;">Khối lượng</td>
                        <td style=" width: 20%; text-align: center;">Thành phần</td>
                        <td style="width: 20%; text-align: center;">Thao tác</td>
                    </thead>
                    <tbody>
                        <tr ng-repeat="sp in danhSachSanPham">
                            <td class="text-center">{{sp.ten}}</td>
                            <td class="text-center">
                                <img src="{{sp.anh}}" width="30%"; alt="">
                            </td>
                            <td class="text-center">{{sp.tenDanhMuc}}</td>
                            <td class="text-center">{{sp.giaNiemYet}}</td>
                            <td class="text-center">{{sp.khoiLuong}}</td>
                            <td class="text-center">{{sp.thanhphan}}</td>
                            <td class="text-center">
                                <div>
                                    <button class="btn btn-success"><a href="#!/Sua-san-pham/{{sp.id}}"style="text-decoration: none; color: #fff;">Sửa</a></button>
                                    <button class="btn btn-success" ng-click="DeleteSanPham(sp.id)">Xóa</button>
                                    <button class="btn btn-success"><a href="#!Chi-tiet-san-pham/{{sp.id}}" style="text-decoration: none;color: #fff;">Chi tiết</a></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                            <!--Phân trang-->     
          <nav aria-label="Page navigation example">
            <ul class="pagination d-flex justify-content-center">
              <li class="page-item">
                <a class="page-link text-success" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link text-success"href="#">1</a></li>
              <li class="page-item"><a class="page-link text-success" href="#">2</a></li>
              <li class="page-item"><a class="page-link text-success" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link text-success" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
          </div>
                </div>
            </div>
            </div>